*.log
*.txt
*.env
*.exe
log_history
dbWorking
dbUnstage
dbStaged
fileWorking
fileUnstage
fileStaged
scanWorking
scanUnstage
scanStaged
imageWorking
imageUnstage
agentFile
heap*
*.png
*.pdf
oldfile
test.go