*.log
*.txt
*.env
*.exe
log_history
dbWorking
dbUnstage
fileWorking
fileUnstage
fileStaged
scanWorking
scanUnstage
scanStaged
imageWorking
ImageFile
yaraWorking
yaraUnstage
ruleMatchWorking
ruleMatchUnstage
memoryTreeWorking
memoryTreeUnstage
dumpDllWorking
dumpDllUnstage
dumpProcessWorking
dumpProcessUnstage
pathWorking
agentFile
dbRawData
heap*
*.png
*.pdf
oldfile
cmd/test.go